/****************  EXTRA FONT FACES  ****************/

@font-face {
    font-family: "Omnes Light";
    src: url("fonts/Omnes\ Light.ttf") format("opentype");
}

@font-face {
    font-family: "Omnes Medium";
    src: url("fonts/Omnes\ Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Omnes Pro Bold";
    src: url("fonts/Omnes_Pro_Bold.otf") format("opentype");
}

@font-face {
    font-family: "Omnes Black";
    src: url("fonts/Omnes\ Black.ttf") format("opentype");
}
/****************  STYLE TAGS  ****************/
h1 {
    font-family: "Omnes Black";
    font-size: 4vw;
    margin: 0;
}

p {
    font-family: "Omnes Medium";
    margin: 0;
    font-size: 2vw
}

a[href] {
    text-decoration: none;
}

a[href]:hover {
    font-weight: bolder;
}

/****************  Classes  ****************/

.curve {
    height: 5vh;
    border-bottom-left-radius: 1000%;
    border-bottom-right-radius: 1000%;
    background-color: black;
}